.container {
  min-height: 100vh;
  max-width: 1200px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
}

.headersInfo {
  display: flex;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.5rem;
  height: 5vh;
}

.headersTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.countriesWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 20px;
  height: 90%;
}

.countryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  margin: 5px auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 15rem;
  border-radius: 20px;
  transition: 1s ease;
}

.countryItem:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);
}

.countryItem img {
  object-fit: contain;
  background-color: #fff;
  height: 6rem;
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 5px;
}

.countryTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.countryInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}

.countryInfo span {
  margin-left: 2px;
  margin-right: 2px;
}

.textInfo {
  padding-left: 5px;
  padding-right: 5px;
}

.numbersInfo {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer {
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer a {
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 800px) {
  .headersInfo {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  .headersInfo {
    font-size: 10px;
    text-align: center;
  }
}
